```
# Database
db.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.ENV.*
.env
.env.*
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.po
*~
.pytest_cache/
.mypy_cache/

# Django
*.mo
*.pot
local_settings.py
db.sqlite3-journal
media/
staticfiles/
.DS_Store

# Templates
templates/*/base.html
templates/*/login.html
templates/*/profile.html
templates/*/register.html
```